Source: ros-rolling-audio-capture
Section: misc
Priority: optional
Maintainer: "Austin Hendrix" <namniart@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, libgstreamer-plugins-base1.0-dev, libgstreamer1.0-dev, ros-rolling-ament-cmake, ros-rolling-audio-common-msgs, ros-rolling-diagnostic-updater, ros-rolling-rclcpp, ros-rolling-rclcpp-components, ros-rolling-ros-workspace
Homepage: http://ros.org/wiki/audio_capture
Standards-Version: 3.9.2

Package: ros-rolling-audio-capture
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gir1.2-gst-plugins-base-1.0, gir1.2-gstreamer-1.0, gstreamer1.0-alsa, gstreamer1.0-plugins-base, gstreamer1.0-plugins-good, gstreamer1.0-plugins-ugly, gstreamer1.0-tools, libgstreamer-plugins-base1.0-0, libgstreamer1.0-0, ros-rolling-audio-common-msgs, ros-rolling-diagnostic-updater, ros-rolling-launch-xml, ros-rolling-rclcpp, ros-rolling-rclcpp-components, ros-rolling-ros-workspace
Description: Transports audio from a source to a destination.
 Audio sources can come from a microphone or file. The destination can play the audio or save it to an mp3 file.
