Source: ros-lyrical-audio-common-msgs
Section: misc
Priority: optional
Maintainer: "Austin Hendrix" <namniart@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-lyrical-rosidl-default-generators, ros-one-ament-cmake, ros-one-std-msgs, ros-lyrical-ros-workspace, ros-lyrical-rosidl-typesupport-fastrtps-c, ros-lyrical-rosidl-typesupport-fastrtps-cpp
Homepage: http://ros.org/wiki/audio_common_msgs
Standards-Version: 3.9.2

Package: ros-lyrical-audio-common-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lyrical-rosidl-default-runtime, ros-one-std-msgs, ros-lyrical-ros-workspace
Description: Messages for transmitting audio via ROS
